.top{
    text-align:center;

    &__title{
        font-size:50px;
        margin:40px 0;
    }

    &__list{
        margin-top:100px;
    }

    &__item{
        list-style: none;
        font-size:20px;
        margin-top:30px;
    }
}